{% extends 'base.html' %}

{% block content %}
<h1>hospital</h1>
<form method="POST" action=''>
    {{ form.hidden_tag()}}
    <fieldset>
    <div class="form-group">
            {{ form.hospitalname.label(class="form-control-label") }}
            {% if form.hospitalname.errors %}
                {{ form.hospitalname(class="form-control form-control-lg is-invalid") }}
                <div>
                    {% for error in form.hospitalname.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                    {{ form.hospitalname(class="form-control form-control-lg") }}
            {% endif %}
            <div class="form-group">
            {{ form.submit(class= "btn btn-outline-info")}}
            </div>
    </div>        
    </fieldset> 
</form> 
<div>
    <h1> hospital display</h1>
    <article>
    {% for hospital in hlist %}
        <div class="hospital">
            <div>
                <h1> {{ hospital.name }} </h1>
                <h2> {{ hospital.id }} </h2>
                <h2> {{ hospital.area }} </h2>
            </div>
            <div>
            <P> total_beds: {{ hospital.total_beds }}</p>
            <P> total_ward_beds: {{ hospital.total_ward_beds }}</p>
            <P> total_ward_beds_with_oxygen: {{ hospital.total_ward_beds_with_oxygen }}</p>
            <P> total_icu_beds: {{ hospital.total_icu_beds }}</p>
            <P> total_icu_beds_with_oxygen: {{ hospital.total_icu_beds_with_oxygen }}</p> 
            <a href="#"><button class="button"> Patient List </button></a>
            <a href="{{ url_for('edithospital', hospital_id=hospital.id) }}"><button class="button"> Edit </button></a>
            <a href="{{ url_for('removehospital', hospital_id=hospital.id) }}"><button class="button"> remove hospital</button></a>
        </div>
    {% endfor %}
    </article>
</div>
{% endblock %}